.sidebar {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    background-color: #f1f5f9;

    &:hover {
        background-color: #dee1e3;
    }
}
